extends layout

block content
  meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
  meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1, minimal-ui")
  meta(name="Copyright", content="Project EOE")
  meta(name="author", content="tisohjung")
  meta(name="viewport", content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0")
  meta(name="apple-mobile-web-app-capable", content="yes")
  meta(name="apple-mobile-web-app-status-bar-style", content="black")
  .col-xs-12
    h1.title How To
    br
    p Dodge the stop signs to play the song till the end
    p 0.5x - Slow down the song
    p >> - Fast Forward player speed
    p star - Make the player invinsible
    br
    h1.title= title
    //p Welcome to #{title}
    br
    p.title Pure Attitude
    p Type : Music
    p Kevin MacLeod (incompetech.com)
    p Licensed under Creative Commons: By Attribution 3.0
    p
      a(src='http://creativecommons.org/licenses/by/3.0/') http://creativecommons.org/licenses/by/3.0/
    p Direct Link: 
      a(src='http://incompetech.com/music/royalty-free/index.html?isrc=USUAN1100508.') http://incompetech.com/music/royalty-free/index.html?isrc=USUAN1100508.